// component dimensions
$max-content-width: 940px;
$min-section-height: 420px;

$header-height: 48px;

$min-carousel-height: 520px + $header-height;

$news-article-height: 20.0em;
$news-article-text-height: 13.0em;

// colors
$white: #fff;
$black: #000;
$blue: #3398db;

$dark-gray: #333;
$text-color: #595959;
$lightest-gray: #ecf0f1;
$dark-blue: #2c3e50;
$green: #19bc9c;
$red: #DE4F4F;
